@model IEnumerable<LogFileListViewModel>

<h2>Uploaded log files</h2>

<table class="table">
    <thead>
    <tr>
        <th>File name</th>
        <th>Uploaded on</th>
        <th>Rows</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var file in Model)
    {
        <tr>
            <td>@file.FileName</td>
            <td>@file.UploadedOn</td>
            <td>@file.Count</td>
            <td>
                <a asp-controller="LogFiles" asp-action="Details" asp-route-id="@file.Id" class="btn btn-sm btn-primary">
                    Open
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
